/* long css */
.best_seller {
    margin-bottom: 50px;
}

.best_seller_top {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;

}
.view-all {
    position: absolute;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    margin-right: 10px;
    border: none;
}

.best_seller_bottom span,
p {
    font-family: 'Manjari';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    /*display: flex;*/
    /*align-items: center;*/
    text-align: justify;

}

.best_seller_top-image img {
    width: 100%;
    height: 100%;
    padding-top: 34px;
}

.main-carousel {
    padding: 0;
}

.main-carousel .flickity-prev-next-button {
    top: 35%;
}


.main-carousel .flickity-button {
    background: none;
}

.carousel-cell {
    /*width: 20%;*/
    padding: 0 10px;

    width: 50%;
    /*margin-right: 10px;*/
    counter-increment: gallery-cell;
}

/* .main-carousel .flickity-prev-next-button {
    top: 27%;
} */

.regula-price {
    font-size: 1em;
}

.sale-price {
    font-size: 1.3em;
    margin-top: 8px;
}


@media screen and (min-width: 0px) {

    .carousel-cell > img {
        border-radius: 20px;
    }

    .carousel-cell > a{
        display: block;
    }

    .container-globe {
        padding: 0 20px;
    }

    .main-carousel .flickity-prev-next-button {
        top: 25%;
    }

    .about-img-top p {
        font-size: 18px;
        position: absolute;
        font-style: normal;
        font-weight: 700;
        color: #000000;
        top: 31%;
        left: 11%;
        text-align: center;
        line-height: 20px;
        letter-spacing: 10px;
        margin-bottom: 0px;
    }

    .about-img-top p:last-child {
        display: unset;
        font-size: 18px;
        position: absolute;
        font-style: normal;
        font-weight: 700;
        color: #000000;
        top: 42%;
        left: 60%;
        text-align: center;
        line-height: 20px;
        letter-spacing: 10px;
        margin-bottom: 0px;
    }

  
    .a-view-all{
        padding-right: 10px;
    }

    .view-all p {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .best_seller_bottom span,
    p {
        font-family: 'Manjari';
        font-style: normal;
        font-weight: 700;
        font-size: 1em;
        line-height: 25px;
        letter-spacing: -1px;
    }

    .best_seller-price {
        /*margin-top: 30px;*/
        display: flex;
    }

    .best_seller-price span:first-child {
        font-size: 1em;
        text-decoration: line-through;
        margin-right: 15px;
    }

    .best_seller-price span:last-child {
        /*padding-left: 28px;*/
        font-size: 1.2em;
    }

    .wrap-about{
        padding: 0px;
    }

    .about p {
        line-height: 35px;
        padding: 0px;
        font-size: 1.3em;
    }

    .about-l > h1 {
        font-size: 1.5em;
        font-weight: 700;
    }


    .about-img {
        margin-top: 20px;
    }

    .footer {
        font-weight: 700;
        font-size: 23px;
        font-family: 'Manjari';
    }

    .ft-top h1, span, a {
        font-size: 18px;
        /* margin-bottom: 18px; */
        font-weight: 700;
        font-family: 'Manjari';
        text-decoration: none;
    }

    .ft-top {
        margin-bottom: 35px;
    }

    .ft-top h1 {
        text-align: center;
    }
    .ft-contact >li p{
        line-height: 35px;
        font-size: 18px;
    }

    .ft-bt-left > ul li {
        display: none;
    }

    /* add */
    .a {
        padding-right: 8rem;
    }

    .a p {
        font-family: 'Manjari';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        justify-content: center;
        color: #000000;
    }

    .b {
        font-family: 'Manjari';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        justify-content: center;
        color: #000000;
        /* text-decoration: underline; */
    }
}

@media screen and (min-width: 480px) {

    /* half-width cells for larger devices */
    .carousel-cell {
        width: 50%;
        padding: 0 10px;
    }

    .view-all {
        right: 0;
    }
    
    .wrap-about{
        padding: 15px;
    }
    .about-img-top p {
        display: unset;
        font-size: 20px;
        position: absolute;
        font-style: normal;
        font-weight: 700;
        color: #000000;
        top: 41%;
        left: 12%;
        text-align: center;
        line-height: 20px;
        letter-spacing: 15px;
        margin-bottom: 0px;
    }

    .about-img-top p:last-child {
        display: unset;
        font-size: 20px;
        position: absolute;
        font-style: normal;
        font-weight: 700;
        color: #000000;
        top: 41%;
        left: 60%;
        text-align: center;
        line-height: 20px;
        letter-spacing: 15px;
        margin-bottom: 0px;
    }

    .best_seller_top-image {
        max-width: 400px;
    }

    .main-carousel .flickity-prev-next-button {
        top: 28%;
    }

}

@media screen and (min-width: 576px) {

    .about-img-top p {
        top: 45%;
        left: 16%;
    }

    .about-img-top p:last-child {
        font-size: 20px;
        top: 45%;
        left: 61%;
        line-height: 20px;
        letter-spacing: 15px;
     
    }

    .about-l h1 {
        margin-bottom: 20px;
    }

    .main-carousel .flickity-prev-next-button {
        top: 31%;
    }


    .a{
        padding-left: 0;
        padding-right: 2rem;
     }
 
     .line{
         padding-right: 0;
         display:  none;
     }
}

@media screen and (min-width: 768px) {

    /* half-width cells for larger devices */
    .carousel-cell {
        width: 50%;
    }

    .about-img-top p {
        top: 48%;
        left: 15%;
        font-size: 29px;
        letter-spacing: 20px;
    }

    .about-img-top p:last-child {
        font-size: 29px;
        top: 48%;
        left: 61%;
        line-height: 20px;
        letter-spacing: 15px;
     
    }

    .best_seller_top-image {
        max-width: 500px;
    }

    .ft-bt-left > ul li {
        display: none;
    }

    .main-carousel .flickity-prev-next-button {
        top: 36%;
    }

    .best_seller_bottom span,
    p {
        font-size: 18px;
    }

    .ft-bt-left ul::before{
        position: absolute;
        content: "";
        height: 1px;
        width: 74%;
        background-color: black;
        top: 85%;
        left: 13%;
     }
   

}

@media screen and (min-width: 920px) {

    .carousel-cell {
        width: 33.333%;
    }

    .best_seller_bottom span,
    p {
        font-family: 'Manjari';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
    }

    .best_seller-price span:first-child {
        font-size: 20px;
    }

    .best_seller-price span:last-child {
        padding-left: 28px;
        font-size: 20px;
    }

    .about-img-top p {
        top: 49%;
        left: 17%;
        font-size: 35px;
    }

    .about-img-top p:last-child {
        font-size: 35px;
        top: 49%;
        left: 61%;
        line-height: 20px;
        letter-spacing: 15px;
     
    }

    .about-img-bottom p {
        font-size: 20px;
    }


    .ft-top h1, span, a {
        font-size: 18px;
        /* margin-bottom: 18px; */
        font-weight: 700;
        font-family: 'Manjari';
    }

    .ft-contact >li p{
        line-height: 35px;
        font-size: 20px;
    }

    .ft-bt-left, .ft-bt-right p{
        font-size: 18px;
    }

    .ft-bt-left > ul li {
        display: unset;
    }

    .ft-bt-left ul li {
        padding: 0 10px;
        /* text-decoration: underline; */
    }

    .main-carousel .flickity-prev-next-button {
        top: 27%;
    }

    .ft-bt-left ul::before{
        position: absolute;
        content: "";
        height: 1px;
        width: 74%;
        background-color: black;
        top: 85%;
        left: 13%;
     }
}

@media screen and (min-width: 920px) {
    .ft-bt-left ul::before{
        position: absolute;
        content: "";
        height: 1px;
        width: 56%;
        background-color: black;
        top: 85%;
        left: 22%;
     }
}

@media screen and (min-width: 1200px) {

    .carousel-cell {
        width: 25%;
    }

    .about-img-top p {
        top: 52%;
        left: 14%;
        font-size: 50px;
        letter-spacing: 30px;
    }

    .about-img-top p:last-child {
        font-size: 50px;
        top: 52%;
        left: 61%;
        line-height: 20px;
        letter-spacing: 15px;
     
    }

    .ft-bt-left ul li {
        padding: 0px;
    }

    .ft-bt-left p{
        font-size: 18px;
    }

    .ft-top h1 {
        text-align: left;
    }

    .main-carousel .flickity-prev-next-button {
        top: 28%;
    }


    .a{
        padding-left: 7rem;
        padding-right: 5rem;
     }

     .a p{
        font-size: 16px;
     }
 
     .line{
         padding-right: 1.5rem;
         display:  unset;
     }

     .text_about {
        padding-right: 4rem; 
     }

     .ft-bt-left ul::before{
        position: absolute;
        content: "";
        height: 1px;
        width: 94%;
        background-color: black;
        top: 85%;
        left: 3%;
     }

     .about-l >p{
        padding: 0 40px;
     }

}


@media screen and (min-width: 1400px) {

    .carousel-cell {
        width: 20%;
    }


    .best_seller-price span:last-child {
        padding-left: 28px;
        font-size: 22px;
    }

    .about-img-top p {
        top: 55%;
        left: 8%;
        font-size: 70px;
        letter-spacing: 40px;
    }

    .about-img-top p:last-child {
        font-size: 70px;
        top: 55%;
        left: 62%;
        line-height: 20px;
        letter-spacing: 15px;
     
    }

    .ft-contact li {
        padding-bottom: 0px;
    }

    .main-carousel .flickity-prev-next-button {
        top: 26%;
    }


    .col-ft >a{
        padding-left: 0;
        padding-right: 8rem;
     }
 
     .line{
         padding-right: 1rem;

     }

     .ft-bt-left ul::before{
        position: absolute;
        content: "";
        height: 1px;
        width: 82%;
        background-color: black;
        top: 85%;
        left: 9%;
     }
}

@media screen and (min-width: 1700px) {
    .ft-contact li {
        padding-bottom: 15px;
    }

    .about-img-top p {
        top: 55%;
        left: 12%;
        font-size: 90px;
        letter-spacing: 40px;
    }

    .about-img-top p:last-child {
        top: 55%;
        left: 62%;
        font-size: 90px;
        letter-spacing: 40px;
    }
}


/* -----------------------end-responsive--------------------------- */

.flickity-page-dots {
    display: none;
}

.best_seller_bottom {
    margin-top: 10px;
    text-align: justify;
}

.best_seller-price {
    margin-top: .5em;
    display: flex
}

.best_seller-price span {
    margin-bottom: 0;
}

/* About */
.about {
    margin-top: 60px;
    margin-bottom: 80px;
}

.about-img {
    width: 100%;
}

.about-img img {
    width: 100%;
    height: 100%;
}

/* footer */

.ft h1 {
    margin-bottom: 20px;
}

.ft > p {
    font-size: 17px;
}

.ft-contact {
    padding-left: 0;
    list-style: none;
}


.ft-contact li p {
    margin-bottom: 0;
}

.ft-if {
    margin-bottom: 0;
}

.ft-if li a {
    color: black;
}

.ft-1 span {
    line-height: 35px;
}
.ft-bt-left ul {
    display: flex;
    justify-content: center;
    position: relative;
    /* border-bottom: 1px solid black ; */
}

/* .ft-bt-left ul::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 82%;
    background-color: black;
    top: 85%;
    left: 9%;

} */

.ft-bt-left ul li{
    padding: 0 5px;
}


.ft-bt-left ul li a {
    color: black;
    text-decoration: none;
}

.ft-bt-right {
    display: flex;
}

.ft-bt-right ul {
    display: flex;
}

.ft-bt-right ul:first-child li{
    display: flex;
    align-items: center;
    position: relative;
}

.ft-bt-right ul:first-child li::before{
    position: absolute;
    content: "";
    width: 1px;
    height: 85%;
    background-color: black;
    top: 0;
    right: 0;
}

.ft-bt-right ul:first-child li a{
    display: block;
   
}

.ft-bt-right ul li {
    padding: 0 15px;
}

.ft-bt-right ul li:first-child {
    padding-left: 20px;
}

.ft-bt-right ul li a {
    display: block;
    color: black;
}

.ft-bt-right ul li a i {
    font-size: 30px;
}

.ft-inf-u li {
    padding: 1px 0;
}

.b{
    text-decoration: underline;
}
