.Header_Style {
    margin-left: 0px;
    margin-top: 0px;
    background: #D9D9D9;
    padding-top: 60px;
    padding-bottom: 30px;

}

.Banner_mobile {
    width: 100%;
}

.list_babel {
    font-family: 'Manjari';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-align: center;
}

.Logo_sidebar {
    align-content: center;
}

.wrap-bar {
    display: flex;
    align-items: center;
}


.Category {
    display: flex;
    align-items: center;
}

.Category ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0px;
}


.Category ul li:first-child {
    padding-left: 20px;
}

.Category ul li a {
    text-decoration: none;
    font-size: 16px;
}

.Text_Category {
    font-family: 'Manjari';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.Text_Category a {
    text-decoration: none;
    color: black;
    padding: 0 20px;
}

.Search {
    display: flex;
    align-items: center;
    padding-left: 0px;
    list-style: none;
    margin-bottom: 0;
}

.wrap-cart>li {
    list-style: none;
}

.wrap-cart>li:first-child {
    margin-right: 20px;
    position: relative;
}

.wrap-cart>li:first-child::before {
    content: "";
    width: 1px;
    height: 60%;
    top: 10%;
    background-color: black;
    right: -10%;
    position: absolute;
}

.wrap-nav-left {
    display: flex;
}

.Search>li {
    padding: 0 15px;
    list-style: none;
}

.Cart {
    text-decoration: none;
}

.Cart p {
    margin-bottom: 0px;
    font-size: 16px;
}

.wrap-cart {
    display: flex;
    align-items: center;
}

.wrap-cart a p {
    margin-bottom: 0;
}

.Search_Input {
    width: 156px;
    height: 30px;
    border-radius: 12px;
    border-color: black;
}

.Search_Icon {
    margin-left: -30px;
    margin-top: 5px;
}

.Cart {
    font-family: 'Manjari';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.Text {
    width: 56px;
}

.Banner {
    width: 100%;
}

.wrap-nav-right {
    display: flex;
}

.wrap-header {
    position: relative;
    justify-content: space-between;
}


.wrap-img-slide {
    width: 100%;
}

.wrap-img-slide img {
    width: 100%;
    height: 100%;
}

/* responsive */
@media screen and (min-width: 0px) {
    .wrap-nav-left .Category {
        display: none;
    }

    .wrap-search {
        display: none;
    }

    .Header_Style {
        padding-top: 30px;
        padding-bottom: 30px;

    }

    .wrap-cart {
        padding-left: 0px;
    }

    .wrap-nav-right {
        position: absolute;
        right: 0;
        top: -50%;
    }

    .wrap-nav-left {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-30%);
    }

    .wrap-header {
        position: relative;
        justify-content: center;
    }

    .Cart p {
        font-size: 18px;
    }

    .Search li:last-child {
        padding-right: 0px;
    }

}

@media screen and (min-width: 768px) {
    .wrap-nav-right {
        top: 0;
        transform: translateY(25%);
    }

    .Search li:last-child {
        padding-right: unset;
    }
}

@media screen and (min-width: 920px) {}


@media screen and (min-width: 1200px) {

    .wrap-nav-left .Category {
        display: unset;
    }

    .wrap-search {
        display: unset;
    }

    .wrap-nav-left .Category {
        display: flex;
        align-items: center;
    }

    .Category ul li {
        padding: 0 10px;
        display: flex;
        align-items: center;
    }

    .Cart p {
        font-size: 16px;
    }
}

@media screen and (min-width: 1400px) {

    .wrap-nav-left .Category {
        display: unset;
    }

    .wrap-search {
        display: unset;
    }

    .Category ul li {
        padding: 0 15px;
    }

    .wrap-nav-left .Category {
        display: flex;
        align-items: center;
    }
}

.listItems {
    font-family: 'Manjari';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    height: -webkit-fill-available;
}