* {
    font-family: 'Manjari';
}

a {
    text-decoration: none;
}

.list-category ul li {
    list-style: none;
    text-transform: uppercase;
    margin: 0 10px;
    padding: 20px 10px;
}

.button-group button {
    font-size: 15px;
    font-family: 'Manjari';
}

.button {
    text-transform: uppercase;
    margin: 0 10px;
    padding: 20px 0px;
    border: none;
    background-color: #fff;
    height: 120px;
    width: 80px;
    font-size: 14px;
}

.tabcontent {
    display: none;
    animation: fadeIn 1s;
}


.button:active,
.button.is-checked {
    background-image: url("../FrontEnd/Image/mug.png");
    background-position: center 0;
    background-repeat: no-repeat;
    animation: fadeIn 1s;
    background-size: contain;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.button-group:after {
    content: '';
    display: block;
    clear: both;
}

.button-group .button {
    float: left;
}

.button,
.sale-price {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.sale-price span:first-child {
    margin-right: 20px;
}

.list-category ul li:first-child {
    position: relative;
}

.list-category ul li:first-child img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -2px;
    left: 3px;
    z-index: -1;
}

.grid,
.img-sale-main {
    margin-left: 50px;
}

.grid-item {
    position: relative;
    float: left;
    margin-left: 8px;
}

.sale-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    height: 38px;
    width: 119px;
    margin-top: 6px;
    margin-bottom: 10px;
}

.sale-price span:first-child {
    text-decoration: line-through;
}

/* ---------------------------------------------mug  */

.mug-link {
    width: 107px;
    height: 14px;
    margin-top: 29px;
    font-weight: 700;
    line-height: 14px;
    font-size: 12px;
    margin-left: 10px;
}

.mug-banner {
    margin-top: 17px;
    margin-bottom: 20px;
    width: 100%;
}

.mug-btn {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    border: 1px solid #000;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 11px 12px 5px 17px;
    background-color: white;
    margin-right: 9px;

}

.mug-btn img {
    margin-left: 17px;
}

.element-item {
    position: relative;
    float: left;
    margin-right: 13px;
}

.mug-product {
    width: 246px;
    position: relative;
    margin-bottom: 39px;
}

.mug-product span {
    font-size: 12px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
}

.mug-layer {
    position: absolute;
    top: -5px;
}

.mug-sticker {
    position: absolute;
    left: 15px;
    bottom: 127px;
}

.mug-sticker img:first-child {
    margin-top: 3px;
    margin-right: 9px;
}

.mug-viewed {
    margin-bottom: 64px;
}

.mug-viewed p {
    width: 199px;
    height: 27px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-top: 68px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.viewed-product {
    height: 320px;
    background-color: #D9D9D9;
    justify-content: center;
    align-items: center;
    position: relative;
}

.viewed-product img {
    width: 232px;
    height: 239px;
    margin: 0 10px;
}

.viewed-product span {
    position: absolute;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    right: 25px;
    bottom: 15px;
}

/* -------------------------------------------about  */

.about-news {
    margin-top: 29px;
    margin-bottom: 36px;
}

.about-news p {
    width: 352px;
    height: 40px;
    font-weight: 400;
    font-size: 35px;
    line-height: 44px;
    letter-spacing: 0.015em;
    margin-left: 13px;
    margin-top: 4px;
}

.about-news img {
    width: 32px;
    height: 32px;
}

.about-main-content {
    margin-top: 37px;
    margin-bottom: 50px;
}

.about-main-content,
.about-main-content p,
.about-side {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    font-family: 'Questrial';
}

.about-main-content p:first-child {
    font-size: 25px;
    line-height: 31px;
}

.about-main-content img {
    margin-left: 5px;
    margin-bottom: 2px;
}

.about-side {
    margin-bottom: 25px;
    margin-left: 50px;
}

.about-side-content {
    margin-left: 12px;
}

.about-side-content div {
    margin-top: 24px;
}

.about-side-content div img {
    margin-bottom: 4px;
}

@media screen and (max-width: 1400px) {
    .img-sale-main {
        width: 100%;
        margin-left: 0;
    }

    .grid {
        margin-left: 0;
    }

    .grid-item {
        width: 32%;
    }

    .grid-item img {
        width: 100%;
    }

    .about-main-img {
        width: 100%;
    }

    .about-side {
        margin-left: 0;
    }
    .element-item {
        margin-right: 15px;
        margin-left: 15px;
    }
}

@media screen and (max-width: 992px) {
    .img-sale-main {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .grid-item-cus {
        width: 50%;
        margin-left: 0;
        padding: 20px 15px;
    }
    .button {
        margin: 0;
        padding: 0;
    }
}


@media screen and (max-width: 480px) {
    .button {
        height: 90px;
        margin: 0;
        padding: 0;
    }

    .button-group {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .grid-item-cus {
        width: 50%;
        margin-left: 0;
        padding: 0px 10px;
    }

    .button-group button {
        font-size: 14px;
        padding: 0 5px;
        font-weight: 700;
    }

    .sale-price {
        margin-top: 15px;
    }
<<<<<<< HEAD
    .sale-price span{
        font-size: 14px;
        margin: 0;
    }
    .sale-price span:last-child{
        font-size: 17px;
    }
    .sale-category{
=======

    .sale-price span {
        font-size: 17px;
        margin: 0;
    }

    .sale-category {
>>>>>>> b79deebfae8179fd9e922a4c6d0d526300928e84
        margin: 0 10px;
    }

    .grid-item-cus-img {
        height: 87%;
    }
}